.header
  {
    color: #c2185b;
    text-align: center;
    height: 150px;
    .title
    {
        font-size: 30px;
        font-weight: 700;
    }
    .logo
    {
        display: flex;
        min-width: 100vw;
        img
        {
            max-height: 65px;
        }
    }
  }
.content-container
{
    display: flex;
    .left-menu
    {
        min-width: 350px;
        height: calc(100vh - 150px);
        border: 1px solid #bebebe;
        margin-right: 30px;
    }
    .content
    {
        width: calc(100vw - 350px);
        height: calc(100vh - 150px);
        display: block;
    }
}