<div class="header">
  <span class="title">RxJs with Angular</span>
  <div class="logo">
    <div class="angular">
      <img src="../assets/angular.png"/>
    </div>
    <div class="rxjs">
      <img src="../assets/rxjs1.png"/>
    </div>
  </div>
</div>
<div class="body">
  <div class="left-menu">
    <app-menu></app-menu>
  </div>
  <div class="content">
    
    <router-outlet></router-outlet>
    <embed src="https://stackblitz.com/edit/stackblitz-starters-ehlva1?file=src%2Fmain.ts">
  </div>
</div>