<div class="menu-container">
    <div class="menu">
        <ng-container *ngFor="let menu of menus">
            <mat-accordion>
                <ng-container *ngFor="let menu of menus">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [class.menu-selected] ="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{menu.text}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list role="list" *ngFor="let child of menu.children" [class.menu-selected] ="true">
                            <mat-list-item role="listitem">{{child.text}}</mat-list-item>
                          </mat-list>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </ng-container>
    </div>
</div>